<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">
          <img src="" alt="">
          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

            {% if site.github_username != '' %}
            <a href="https://github.com/{{ site.github_username }}" target="_blank"><button class="btn btn-default btn-lg"><i class="fab fa-github fa-lg"></i>Github</button></a>
            {% endif %}
            {% if site.stackover_username != '' %}
              <a href="https://stackoverflow.com/users/8144872/melih-sahin?tab=profile" target="_blank"><button class="btn btn-default btn-lg"><i class="fab fa-stack-overflow fa-lg"></i>Stack Overflow</button></a>
            {% endif %}
            {% if site.medium_username != '' %}
              <a href="https://{{ site.medium_username }}" target="_blank"><button class="btn btn-default btn-lg"><i class="fab fa-medium fa-lg"></i>Medium</button></a>
            {% endif %}
            <a href="https://linkedin.com/in/melihsahin" target="_blank"><button class="btn btn-default btn-lg"><i class="fab fa-linkedin fa-lg"></i>Linkedin</button></a>
            <a href="https://codepen.io/melihsahin" target="_blank"><button class="btn btn-default btn-lg"><i class="fab fa-codepen fa-lg"></i>Codepen</button></a>
            <a href="https://www.hackerrank.com/melihsahin" target="_blank"><button class="btn btn-default btn-lg"><i class="fab fa-hackerrank fa-lg"></i>Hackerrank</button></a>
          </div>
        </div>

      </div>

      <!-- <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a> -->

    </div>

  </div>

</div>
